/* Eric Meyer's CSS Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}  */
/* End of Eric Meyer's CSS Reset */

@font-face {
	font-family: 'din-light';
	src: url(../fonts/DIN\ LightAlternate\ Regular.otf);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'din-cyr';
	src: url(../fonts/dincyr-regular.ttf);
	font-style: normal;
	font-weight: normal;
}

html {
	height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

p, h1, h2, h3, h4 {
	margin: 0;
}

body {
	font-family: din-cyr;
	width: 100%;
	height: 100%;
	background-image: url(../img/bg-body.jpg);
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Header
----------------------------------------------------------------------------- */
.header {
	height: 150px;
	position: relative;
}

.header .logo {
	position: absolute;
	top: 45px;
	left: 10px;
}

.header .tel {
	position: absolute;
	top: 45px;
	right: 10px;
	text-decoration: none;
}

.header a {
	font-family: din-light;
	font-size: 18px;
	line-height: 24px;
	color: #707070;
}

.header .number {
	font-size: 24px;
}

/* Middle
----------------------------------------------------------------------------- */
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}

.middle::after {
	display: table;
	clear: both;
	content: '';
}

.container {
	width: 100%;
	float: left;
	overflow: hidden;
}

.content {
	padding: 0 0 0 220px;
	font-family: din-cyr;
	font-size: 11px;
	line-height: normal;
}

.subject h2 {
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 20px;
	font-weight: lighter;
}

.content .subject {
	padding-bottom: 40px;
}

.content span {
	display: block;
	padding-bottom: 10px;
}

.subject .teammates {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	padding-right: 10px;
}

.teammate .img-container {
	display: inline-block;
	width: 78px;
	height: 78px;
	overflow: hidden;
}

.img-container .photo {
	width: 78px;
	margin: 0;
	padding: 0;
	border: none;
}

/* .teammate .photo {
	display: inline-block;
	overflow: hidden;
	width: 78px;
	height: 78px;
	font-size: 0;

} */

/* .teammate .photo img {
	display: block;
	margin: auto;
	height: 100%;
	width: auto;
} */

.teammate .fio {
	display: inline-block;
	vertical-align: top;
	width: 51%;
	padding-left: 10px;
	overflow-wrap: break-word;
}

.teammate {
	margin-bottom: 20px;
}

.subject .subject-content {
	padding-bottom: 10px;
}

.subject p {
	padding-bottom: 10px;
}

.subject b {
	font-weight: bold;
}

/* Left Sidebar
----------------------------------------------------------------------------- */
.left-sidebar {
	float: left;
	width: 200px;
	margin-left: -100%;
	position: relative;
	font-family: din-cyr;
}

.left-sidebar .category {
	display: block;
}

.left-sidebar a {
	text-transform: uppercase;
	text-decoration: none;
	color: #363636;
	font-size: 40px;
}

.left-sidebar a:hover {
	background-color: #707070;
	color: #fff;
}


/* Footer
----------------------------------------------------------------------------- */
.footer {
	border-top: 1px solid #a7a7a7;
	width: 1000px;
	margin: -100px auto 0;
	height: 100px;
	position: relative;
	font-size: 11px;
}

.footer .copyright {
	display: inline-block;
	padding-top: 30px;
	width: 110px;
	line-height: 15px;
}

.footer .vacancy {
	text-decoration: none;
	display: inline-block;
	color: #363636;
	padding-top: 30px;
	vertical-align: top;
}

.footer .vacancy:hover {
	text-decoration: underline;
}

