/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/* font: 12px/18px Arial, sans-serif; */
	width: 100%;
	height: 100%;
	/* opacity: 0.1; */
	background-image: url(../img/bg-body.jpg);
	/* background-color: rgba(100, 10, 10, 0.5) */
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
	/* background: rgba(100, 50, 50, 0.5); */
	position: relative;
}

.header .logo {
	position: absolute;
	top: 45px;
	left: 10px;
	/* margin-top: 45px; */
	/* align: left; */
}
.header .tel {
	position: absolute;
	top: 45px;
	right: 10px;
	/* align: right; */
	text-decoration: none;
}
.header a {
	font-family: din-light;
	color: #707070;
}

.header h2 {
	font-size: 24px;

}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
	background: rgba(50, 50, 150, 0.3)
	
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
	background: rgba(150, 50, 150, 0.3)
}
.content {
	padding: 0 0 0 220px;
	font-family: din-cyr;
	font-size: 11px;
	/* position: relative; */
}
.content h4 {
	font-size: 18px;
	/* line-height: 38px; */
	text-transform: uppercase;
	padding-bottom: 20px;
}

.content span {
	display: block;
	padding-bottom: 10px;
}

.content .teammates {
	/* position: absolute; */
	/* top: 0; */
	display: inline-block;
	width: 33%;
}

.teammate .photo {
	display: inline-block;
	height: 78px;
	width: auto;
	overflow: hidden;
	text-align: right;
}

.teammate .fio {
	display: inline-block;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 200px;
	margin-left: -100%;
	position: relative;
	/* background: rgba(50, 150, 50, 0.3); */
}

.left-sidebar .category {
	display: block;
	/* box-sizing: content-box; */
}

.left-sidebar a {
	font-family: din-cyr;
	text-transform: uppercase;
	text-decoration: none;
	color: #363636;
	font-size: 40px;
}

.left-sidebar a:hover {
	background-color: #707070;
	color: ghostwhite;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 1000px;
	margin: -100px auto 0;
	height: 100px;
	background: rgba(100, 100, 100, 0.5);
	position: relative;
}

@font-face {
	font-family: "din-light";
	src: url(../fonts/DIN\ LightAlternate\ Regular.otf);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "din-cyr";
	src: url(../fonts/dincyr-regular.ttf);
	font-style: normal;
	font-weight: normal;
}